@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <hgroup>
            <h1>Success.</h1>
            <h2>Successfull Login</h2>
        </hgroup>  
    </div>
</body>
</html>
